.station-list {
    max-height : 600px;
    overflow: scroll;
}
.search-field {
    width : 100%;
    
}
.googlemap {
    height : 200px;
    width : 250px;
    float : right;
}
.myList {
    padding-top: 10px;
    height : 600px;
    overflow-y : scroll;
    padding-left : 0px;
}